@use '../abstracts/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: #{$OpenSans};
}

body {
    background-color: #f8f9fc
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}
